@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    @apply w-[90%] m-auto pl-[50px] pr-[50px] min-h-[100vh] flex flex-col
    justify-between
}